.bg-pastel-blue {
    background-color: #e6eff8; /* Light pastel blue */
  }

  .bg-pastel-green {
    background-color: #e4f4e4; /* Light pastel green */
  }

  .bg-pastel-pink {
    background-color: #fbf2f2; /* Light pastel pink */
  }