
h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-family: Arial;
    font-size: 40px;
    margin: 100px;
}

h2.total-quests {
    margin-top: 50px; /* Adjust as needed */
}

h3 {
    font-family: Arial;
    font-size: 30px;
    margin-left: 50px;
}


p{
    font-size: 30px;
}

/* Grid Container Styles */
.empty-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.empty-grid-item {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f4f4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
}

.empty-grid-item img {
    width: 100%;
    height: auto;
}

.empty-grid-item p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: #333;
}

/* Achievement Title Styles */
.achievement-title {
    position: relative;
    z-index: 1;
    color: black;
    font-size: 40px;
    margin: 100px;
}

.achievement-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #d0fcdd;
    border-radius: 50%;
    z-index: -1;
    filter: blur(10px);
}

/* Fade Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 2s forwards;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

/* Vertical Container Styles */
.vertical-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    gap: 20px;
}

.vertical-section {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ccc;
    text-align: center;
}

.vertical-section:first-child {
    border-left: none;
}

.grid-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}
